# Supabase Configuration
# Copie este arquivo para .env e preencha com suas credenciais

EXPO_PUBLIC_SUPABASE_URL=https://hnolptsgmaigpbbfgilm.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhub2xwdHNnbWFpZ3BiYmZnaWxtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTkwNzQ1NzIsImV4cCI6MjA3NDY1MDU3Mn0.0d2k_qwO5jpK_RdiprOqTxc3DK4RGzp_InlqtQw4XI4
